(module
  (type (;0;) (func (result i64)))
  (type (;1;) (func (param i64) (result i64)))
  (func (;0;) (type 0)
    (local %param%)
    %const%
    %set%
    %getcall%
    i64.const 0
    %add%
  )
  (func (;1;) (type 1)
    local.get 0
  )
)
